:root {
    --cor-fonte: coral;
    --fonte: 20px
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: var(--fonte);
    color: var(--cor-fonte)
}

h6 {
    font-size: var(--fonte);
    color: var(--cor-fonte)
}

p {
    font-size: var(--fonte);
    color: var(--cor-fonte)
}